[submodule "third_party/git/boost"]
	path = third_party/git/boost
	url = https://github.com/boostorg/boost
[submodule "third_party/git/bzip2"]
	path = third_party/git/bzip2
	url = https://gitlab.com/bzip2/bzip2
[submodule "third_party/git/cccl"]
	path = third_party/git/cccl
	url = https://github.com/NVIDIA/cccl
[submodule "third_party/git/eigen"]
	path = third_party/git/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "third_party/git/hwloc"]
	path = third_party/git/hwloc
	url = https://github.com/open-mpi/hwloc
[submodule "third_party/git/icu"]
	path = third_party/git/icu
	url = https://github.com/unicode-org/icu
	shallow = true
[submodule "third_party/git/libjpeg-turbo"]
	path = third_party/git/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "third_party/git/libpng"]
	path = third_party/git/libpng
	url = https://github.com/pnggroup/libpng
[submodule "third_party/git/libtiff"]
	path = third_party/git/libtiff
	url = https://gitlab.com/libtiff/libtiff
[submodule "third_party/git/oneTBB"]
	path = third_party/git/oneTBB
	url = https://github.com/uxlfoundation/oneTBB
[submodule "third_party/git/openssl"]
	path = third_party/git/openssl
	url = https://github.com/openssl/openssl
[submodule "third_party/git/plf_hive"]
	path = third_party/git/plf_hive
	url = https://github.com/mattreecebentley/plf_hive
[submodule "third_party/git/stdexec"]
	path = third_party/git/stdexec
	url = https://github.com/NVIDIA/stdexec
[submodule "third_party/git/zlib"]
	path = third_party/git/zlib
	url = https://github.com/madler/zlib
[submodule "third_party/git/zstd"]
	path = third_party/git/zstd
	url = https://github.com/facebook/zstd
